@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.header {
    background-color: #1f2937;
    color: #e5e7eb;
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-bar {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: whitesmoke;
}

.right-content img {
    object-fit: cover;
    width: 400px;
    height: 250px;
    padding: 28px;
    border-radius: 35px;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero {
    display: flex;
    justify-content: space-between;  
    margin: 48px;  
}

.header nav {
    padding-top: 5px;
    padding-left: 70px;
    padding-right: 70px;
}

.left-content {
    margin: 15px;
}

.sign-up {
    margin-top: 16px;
    padding: 6px 20px;
    background-color: #3882f6;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

.random-info {
    text-align: center;
    margin: 48px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.images {
    display: flex;
    justify-content: space-evenly;
    padding-left: 24px;
}

.img-text {
    width: 200px;
    margin: 16px;
}

.food-img img {
    border-radius: 50%;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 86px;
    margin-top: 100px;
}

.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.author p {
    font-weight: bold;
}

.action {
    padding: 100px;
}

.action-container {
    background-color: #3882f6;
    padding: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    align-items: center;
}

.action .action-title {
    font-size: 22px;
    font-weight: bold;
}

.action-container-button button {
    padding: 6px 20px;   
    border: 2px solid whitesmoke;
    font-weight: bold;
    background-color: #3882f6;
    color: whitesmoke;
    border-radius: 10px;
}